.bg-main {
	color: #3282B8;
}

.navbar-light {
	background-color: #3282B8;
}

.bg-dark {
	color: #0F4C75;
}

.bg-light {
	color: #BBE1FA;
}

.navbar-brand {
	color: #1B262C;
}

.navbar-nav {
	color: #1B262C;
}
/* 1B262C */
