/* pallette:
1B262C
0F4C75
3282B8
BBE1FA */

.bg-main {
	color: #BBE1FA;
}

.navbar-light {
	background-color: #BBE1FA;
}

.bg-dark {
	color: #0F4C75;
}

h1, h2, h3, h4, h5, .card-title {
	color: #0F4C75 !important;
}

.border-dark {
	border-color: #0F4C75 !important;
}

.bg-light {
	color: #BBE1FA;
}

.navbar-brand {
	color: #1B262C;
}

.navbar-nav {
	color: #1B262C;
}